# Dependencies
node_modules/

# Angular build output
dist/
.angular/
tmp/

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.log
npm-debug.log*